<ion-content>
  <div style="display: grid">
    <div style="font-size: 14px; padding: 1rem">
      <img
        (click)="back()"
        style="cursor: pointer"
        src="/assets/close.svg"
        alt="close"
        width="24px "
      />
    </div>
    <div style="padding: 1rem; font-weight: 700">About</div>
    <div style="font-size: 14px; padding: 1rem">
      Agnihotra Timer is a no-ads, free app that enables people to know the
      exact sunrise and sunset time at their location to perform Agnihotra
      yagya.
    </div>
    <div
      style="font-style: italic; font-size: 14px; padding: 1rem 0rem 0rem 1rem"
    >
      Design Ninja
    </div>
    <div style="font-size: 14px; padding: 0rem 0rem 1rem 1rem">VPRANA LLP</div>
    <div
      style="font-style: italic; font-size: 14px; padding: 1rem 0rem 0rem 1rem"
    >
      Code Ninja
    </div>
    <div style="font-size: 14px; padding: 0rem 0rem 1rem 1rem">
      Squapl Digital Media Pvt Ltd
    </div>
    <div
      style="font-style: italic; font-size: 14px; padding: 1rem 0rem 0rem 1rem"
    >
      API Ninja
    </div>
    <div style="font-size: 14px; padding: 0rem 0rem 1rem 1rem">
      sunrise-sunset.org/api
    </div>
    <div
      style="font-style: italic; font-size: 14px; padding: 1rem 0rem 0rem 1rem"
    >
      Version
    </div>
    <div style="font-size: 14px; padding: 0rem 0rem 1rem 1rem">3.0</div>
    <div style="font-size: 14px; padding: 1rem">
      Copyright 2021 VPRANA LLP & SQUAPL Pvt. Ltd. All rights reserved.
    </div>
  </div>
</ion-content>
