.back {
  padding: 1rem;
}

.heading {
  padding-left: 16px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -2px;
}

.wrapper {
  padding: 2rem;
}

.main {
  padding: 0.5rem 2rem 2rem 2rem;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  padding: 1rem 0 0.2rem 0;
}

.content-txt {
  font-size: 18px;
  font-weight: regular;
}
