<div style="cursor: pointer">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" #myCheckbox />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a (click)="menu('about')"><li>About</li></a>
        <a (click)="menu('contact')"><li>Contact</li></a>
        <a (click)="menu('policy')"><li>Privacy Policy</li></a>
        <a (click)="menu('disclaimer')"><li>Disclaimer</li></a>
        <a (click)="exitAgnihotra()"><li>Exit</li></a>
      </ul>
    </div>
  </nav>
</div>
