.normal {
  background-color: #f8f2de;
  color: #000;
}

.getready {
  background-color: #cc9d23;
  color: #fff;
}

.live {
  background-color: #cc9d23;
  color: #fff;
}

.actnTxtClrNormal {
  color: #8c6500;
}

.actnTxtClrReady {
  color: #fff;
}

.AGrey {
  color: #999999;
}
.ABlack {
  color: #000;
}

.borderYellow {
  border-bottom: 1px solid #ca9100;
}

.borderWhite {
  border-bottom: 1px solid #fff;
}
