<div
  style="
    display: grid;
    grid-template-rows: 1fr 30px;
    height: calc(100vh - 30px);
  "
>
  <div style="display: grid; justify-content: center; align-content: center">
    <div
      style="
        color: #ca9100;
        font-size: 48px;
        text-align: center;
        font-weight: 500;
        line-height: 42px;
      "
    >
      AGNIHOTRA
    </div>
    <div
      style="
        color: #ca9100;
        font-size: 48px;
        text-align: center;
        font-weight: 500;
        line-height: 42px;
      "
    >
      TIMER
    </div>
    <div
      style="color: #999999; font-size: 16px; text-align: center; padding: 1rem"
    >
      FREE DAILY AGNIHOTRA TIME GUIDE
    </div>
    <div style="padding: 5rem 2rem 2rem 2rem; text-align: center">
      <img src="/assets/maps-and-flags.svg" alt="" srcset="" width="32px" />
      <div style="padding: 1rem">Detecting your location...</div>
    </div>
  </div>
  <div style="color: #999999; font-size: 12px; text-align: center">
    Copyright 2021 VPRANA LLP
  </div>
</div>
