<ion-content>
  <div style="display: grid">
    <div style="font-size: 14px; padding: 1rem">
      <img
        (click)="back()"
        style="cursor: pointer"
        src="/assets/close.svg"
        alt="close"
        width="24px "
      />
    </div>
    <div style="padding: 1rem; font-weight: 700">Disclaimer</div>
    <div style="font-size: 14px; padding: 1rem">
      In rare cases, there may be a few seconds difference observed in sunrise
      or sunset time data. VPRANA LLP or SQUAPL Pvt. Ltd. are not reponsible for
      inaccuracies as the time data is provided by a global time data vendor.
    </div>
  </div>
</ion-content>
