<ion-content>
  <div style="display: grid">
    <div style="font-size: 14px; padding: 1rem">
      <img
        (click)="back()"
        style="cursor: pointer"
        src="/assets/close.svg"
        alt="close"
        width="24px "
      />
    </div>
    <div style="padding: 1rem; font-weight: 700">Privacy Policy</div>
    <div style="font-size: 14px; padding: 1rem">
      We have a very simple privacy policy. We do not sell or share this app’s
      user data to any third parties.
    </div>
  </div>
</ion-content>
